#define ICONE       500
#define SPRITES     107

#define APPMENU     600
#define MENU_EXIT   1000
#define MENU_ABOUT  1900

// icone
ICONE ICON MOVEABLE PURE LOADONCALL DISCARDABLE "FAVICON.ICO"

// bitmaps
SPRITES BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "sprites.bmp"

// menu
APPMENU MENUEX MOVEABLE IMPURE LOADONCALL DISCARDABLE
BEGIN
    POPUP "&File", , , 0
    BEGIN
        MENUITEM "&Exit", MENU_EXIT
    END
    POPUP "&Help", , , 0
    BEGIN
        MENUITEM "&About", MENU_ABOUT
    END
END
